@page "/dashboard"
@using SchoolManagementSystem.WebClient.Components
@inject BearerLoginService BearerLoginService

<RedirectToLogin />

@if (BearerLoginService.UserRole == "Student")
{
    <StudentDashboard />
}
else if (BearerLoginService.UserRole == "Teacher")
{
    <TeacherDashboard />
}
else
{
    <p>Unauthorized access.</p>
}
